{
  "extends": ["airbnb", "plugin:flowtype/recommended", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "plugins": ["flowtype", "flow-header"],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "graphql": true
  },
  "rules": {
    "flow-header/flow-header": 2,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "react/destructuring-assignment": 0,
    "react/require-default-props": 0,
    "react/prop-types": 0
  }
}
