{
  "extends": ["airbnb", "prettier", "prettier/react", "plugin:jest/recommended"],
  "plugins": ["react-hooks", "jest"],
  "parser": "typescript-eslint-parser",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "graphql": true
  },
  "rules": {
    "no-console": 0,
    "no-undef": 0,
    "no-else-return": ["error", { "allowElseIf": true }],
    "no-param-reassign": 0,
    "no-shadow": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "no-unused-expressions": ["error", { "allowShortCircuit": true }],
    "no-unused-vars": 0,
    "no-restricted-globals": 0,
    "no-var": 0,
    "default-case": 0,
    "react/default-props-match-prop-types": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "react/destructuring-assignment": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".jsx"] }],
    "react/require-default-props": 0,
    "react/no-danger": 0,
    "react/no-unused-prop-types": 0,
    "react/prop-types": 0,
    "react-hooks/rules-of-hooks": "error",
    "strict": 0,
    "vars-on-top": 0
  }
}
