* {
    box-sizing: border-box;
}

html {
    position: relative;
}

body {
    margin: 0;
    height: 100vh;
    background-image: linear-gradient(to right, #2f085a 0%, #080031 100%);
    overflow-x: hidden;
}
