@import '~modularscale-sass/stylesheets/modularscale';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900|Space+Mono:400,700');

h1 {
  font-family: 'Space Mono', 'Lucida Console', Monaco, monospace;
}

h2,
h3,
h4,
h5,
p,
a,
span {
  font-family: Roboto, 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

$modularscale: (
  base: 20px,
  ratio: 1.25,
  375px: (
    base: 18px,
    ratio: 1.125,
  ),
  768px: (
    base: 18px,
    ratio: 1.2,
  ),
  1440px: (
    base: 20px,
    ratio: 1.2,
  ),
);

h1 {
  @include ms-respond(font-size, 5);
}

h2 {
  @include ms-respond(font-size, 4);
}

h3 {
  @include ms-respond(font-size, 3);
}

h4 {
  @include ms-respond(font-size, 2);
}

h5 {
  @include ms-respond(font-size, 1);
}

p,
a {
  @include ms-respond(font-size, 0);
}

span {
  @include ms-respond(font-size, -1);
}

@media screen and (max-width: 374px) {
  p,
  a {
    font-size: 16px;
  }
}
