@import '~modularscale-sass/stylesheets/modularscale';
@import url('https://fonts.googleapis.com/css?family=Gugi|Roboto:300,400');

h1,
h2,
h3,
h4,
h5 {
  font-family: Gugi, Verdana, Geneva, sans-serif;
}

p,
a,
span {
  font-family: Roboto, TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
}

$modularscale: (
  base: 20px,
  ratio: 1.5,
  375px: (
    base: 18px,
    ratio: 1.125,
  ),
  768px: (
    base: 18px,
    ratio: 1.2,
  ),
  1440px: (
    base: 20px,
    ratio: 1.25,
  ),
);

h1 {
  @include ms-respond(font-size, 5);
}

h2 {
  @include ms-respond(font-size, 4);
}

h3 {
  @include ms-respond(font-size, 3);
}

h4 {
  @include ms-respond(font-size, 2);
}

h5 {
  @include ms-respond(font-size, 1);
}

p,
a {
  @include ms-respond(font-size, 0);
}

span {
  @include ms-respond(font-size, -1);
}

@media screen and (max-width: 374px) {
  p,
  a {
    font-size: 16px;
  }
}
