$background: #282a36;
$foreground: #f8f8f2;
$comment: #6272a4;
$cyan: #8be9fd;
$green: #50fa7b;
$orange: #ffb86c;
$pink: #ff79c6;
$purple: #bd93f9;
$red: #ff5555;
$yellow: #f1fa8c;

html {
	height: 100%;
}

body {
	color: $purple;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	margin: 0 0 3rem;
	position: relative;
}

#firepad {
	height: 100vh;

	.firepad {
		height: 100%;
	}

	.powered-by-firepad {
		display: none;
	}
}

body,
.CodeMirror,
.firepad {
	background-color: $background;
}

// Modify text color options

$colors: $comment $cyan $foreground $orange $pink $purple $red $yellow;
$classNames: 'black' 'red' 'green' 'blue' 'yellow' 'cyan' 'magenta' 'grey';

@for $i from 1 through length($colors) {
	#firepad .firepad-c-#{nth($classNames, $i)} {
		color: nth($colors, $i);
	}

	.firepad-btn-group:nth-child(3) a:nth-child(#{$i}) .firepad-color-dropdown-item {
		background-color: nth($colors, $i) !important;
	}
}
